mixin window(cls)
    if (cls === 'entrance')
        h2(class=`${cls}__title-sub`) Вход
        form(class=`${cls}__form`)
            div(class=`${cls}__inputs`)
                div(class=`${cls}__inputs-input`)
                    +input('login', 'text')
                div(class=`${cls}__inputs-input`)
                    +input('password', 'password')
            div(class=`${cls}__buttons`)
                +button('Авторизоваться', 'entrance', 'submit')
                +links('Нет аккаунта?', 'entrance')
    if (cls === 'registration')
        h2(class=`${cls}__title`) Регистрация
        form(class=`${cls}__form`)
            div(class=`${cls}__inputs`)
                div(class=`${cls}__inputs-input`)
                    +input('email', 'email')
                div(class=`${cls}__inputs-input`)
                    +input('login', 'text')
                div(class=`${cls}__inputs-input`)
                    +input('first_name', 'text')
                div(class=`${cls}__inputs-input`)
                    +input('second_name', 'text')
                div(class=`${cls}__inputs-input`)
                    +input('phone', 'tel')
                div(class=`${cls}__inputs-input`)
                    +input('password', 'password')
                div(class=`${cls}__inputs-input`)
                    +input('password', 'password')
            div(class=`${cls}__buttons`)
                +button('Зарегистрироваться', 'entrance', 'submit')
                +links('Войти', 'entrance')
                