
section.profile
    ul.profile__menu
        li.profile__item
            #{chat}
        li.profile__item
            #{data}
        li.profile__item
            #{password}
        li.profile__item
            #{exit}
    .profile__wrapper
        .profile__header
            .profile__avatar
                    img(src=`${avatar}` alt='avatar')
                    .profile__hover Поменять аватар
            h3.profile__name Артемий 
        #{profile}
            #{changesData}
                #{changesPassword}



                

    