div(class=`${classes}__inputs-input`)
    if (id !== 'avatar' && id !== 'file')
        input(name=`${name}`, type=`${type}`, placeholder=`${placeholder || ''}` id=`${id || ''}`)
        label
    if (id === 'avatar' || id === 'file')
        input(name=`${name}`, type=`${type}`, placeholder=`${placeholder = ''}` id=`${id}`)
        label(for=`${id}`) Выбрать файл на компьютере
    