if (typeInput === 'text')
    section(class='popup' id=`popup__${id}`)
        .popup__wrapper
            .popup__title= title
            form.popup__form
                    #{input}
                            #{button}
if (typeInput === 'file')
    section(class='popup' id=`popup__${id}`)
        .popup__wrapper
            .popup__title= title
            form.popup__form
                #{input}
                    #{button}
                    