    
main.container
    .popup__backgraund  
    #{registration}
        #{chats}
            #{popupAdd}
                #{popupDelete}
                    #{popupDownload}
                        #{entrance}
                            #{profile}
                                #{error404}
                                    #{error500}
                                        #{pageDisplay}