section.chats
    .chats__block
        .chats__block-left
            .chats__item
                        #{link}
                            .chats__input
                                #{search}
                                                    img(src=`${images.magnifier}` alt='лупа')
                                ul.chats__friends
                                    li.chats__friends-list
                                        .chats__friends-img
                                            img(src=`${images.avatar}`)
                                        .chats__friends-middle
                                            .chats__friends-name Илья
                                            .chats__friends-text Друзья, у меня для вас особенный выпуск...
                                        .chats__friends-right
                                            .chats__friends-time 10:49
                                            .chats__friends-count 2                 
                                    li.chats__friends-list
                                        .chats__friends-img
                                            img(src=`${images.avatar}`)
                                        .chats__friends-middle
                                            .chats__friends-name Илья
                                            .chats__friends-text Друзья, у меня для вас особенный выпуск...
                                        .chats__friends-right
                                            .chats__friends-time 10:49
                                            .chats__friends-count 2                    
                                    li.chats__friends-list.background-link
                                        .chats__friends-img
                                            img(src=`${images.avatar}`)
                                        .chats__friends-middle
                                            .chats__friends-name Илья
                                            .chats__friends-text Друзья, у меня для вас особенный выпуск...
                                        .chats__friends-right
                                            .chats__friends-time 10:49
                                            //- .chats__friends-count 2  
                                            .chats__friends-count.chats__friends-trash
                                                img(src=`${images.trash}`)                     
                                    li.chats__friends-list
                                        .chats__friends-img
                                            img(src=`${images.avatar}`)
                                        .chats__friends-middle
                                            .chats__friends-name Илья
                                            .chats__friends-text Друзья, у меня для вас особенный выпуск...
                                        .chats__friends-right
                                            .chats__friends-time 10:49
                                            .chats__friends-count 2                    
                                    li.chats__friends-list
                                        .chats__friends-img
                                            img(src=`${images.avatar}`)
                                        .chats__friends-middle
                                            .chats__friends-name Илья
                                            .chats__friends-text Друзья, у меня для вас особенный выпуск...
                                        .chats__friends-right
                                            .chats__friends-time 10:49
                                            .chats__friends-count 2                    
                                    li.chats__friends-list
                                        .chats__friends-img
                                            img(src=`${images.avatar}`)
                                        .chats__friends-middle
                                            .chats__friends-name Илья
                                            .chats__friends-text Друзья, у меня для вас особенный выпуск...
                                        .chats__friends-right
                                            .chats__friends-time 10:49
                                            .chats__friends-count 2                    
                            .chats__block-right
                                h3.chats__title Выберите чат чтобы отправить сообщение
                            .chats__message
                                .chats__message-header
                                    .chats__message-avatar
                                        .chats__message-img
                                            img(src=`${images.avatar}`)
                                        .chats__message-name
                                    .chats__message-points
                                        span
                                        span
                                        span
                                        ul.chats__message-menu
                                            li 
                                                img(src=`${images.menu}` alt='плюс')
                                                div Добавить пользователя
                                            li 
                                                img(src=`${images.menu}` alt='крестик')
                                                div Удалить пользователя
                                .chats__message-content
                                    .chats__message-date 19 июня
                                    .chats__message-section
                                        .chats__message-friend
                                            .chats__message-wrapper
                                                .chats__message-text_friend.chats__message-text  Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.
                                                span 11:56
                                            .chats__message-wrapper
                                                .chats__message-picture
                                                    img(src=`${images.picture}` alt='картинка')
                                                    span 11:56
                                        .chats__message-your
                                            .chats__message-wrapper
                                                .chats__message-text_your.chats__message-text Круто!
                                                    .chats__message-icons
                                                        .chats__message-icon1
                                                            img(src=`${images.checkMark}`)
                                                        .chats__message-icon2
                                                            img(src=`${images.checkMark2}`)
                                                    span 12:00
                                .chats__message-footer
                                    .chats__message-paperclip
                                        img(src=`${images.paperclip}`, alt='иконка')
                                        ul.chats__message-menu.chats__message-menu_footer
                                            li 
                                                img(src=`${images.photo}` alt='иконка')
                                                div Фото или Видео
                                            li 
                                                img(src=`${images.file}` alt='иконка')
                                                div Файл
                                    form.chats__message-form
                                                                #{message}
                                                                    #{button}
